## Hypothesis Tests in Python
In this assessment, you will look at data from a study on toddler sleep habits. 

The hypothesis tests you create and the questions you answer in this Jupyter notebook will be used to answer questions in the following graded assignment.

In [19]:
import numpy as np
import pandas as pd
from scipy.stats import t
import math
pd.set_option('display.max_columns', 30) # set so can see all columns of the DataFrame

Your goal is to analyse data which is the result of a study that examined
differences in a number of sleep variables between napping and non-napping toddlers. Some of these
sleep variables included: Bedtime (lights-off time in decimalized time), Night Sleep Onset Time (in
decimalized time), Wake Time (sleep end time in decimalized time), Night Sleep Duration (interval
between sleep onset and sleep end in minutes), and Total 24-Hour Sleep Duration (in minutes). Note:
[Decimalized time](https://en.wikipedia.org/wiki/Decimal_time) is the representation of the time of day using units which are decimally related.   


The 20 study participants were healthy, normally developing toddlers with no sleep or behavioral
problems. These children were categorized as napping or non-napping based upon parental report of
childrenâ€™s habitual sleep patterns. Researchers then verified napping status with data from actigraphy (a
non-invasive method of monitoring human rest/activity cycles by wearing of a sensor on the wrist) and
sleep diaries during the 5 days before the study assessments were made.


You are specifically interested in the results for the Bedtime and Total 24-Hour Sleep Duration.

Reference: Akacem LD, Simpkin CT, Carskadon MA, Wright KP Jr, Jenni OG, Achermann P, et al. (2015) The Timing of the Circadian Clock and Sleep Differ between Napping and Non-Napping Toddlers. PLoS ONE 10(4): e0125181. https://doi.org/10.1371/journal.pone.0125181

In [20]:
# Import the data
df = pd.read_csv("nap_no_nap.csv")

In [21]:
# First, look at the DataFrame to get a sense of the data
df.head()

,id,sex,age (months),dlmo time,days napped,napping,nap lights outl time,nap sleep onset,nap midsleep,nap sleep offset,nap wake time,nap duration,nap time in bed,night bedtime,night sleep onset,sleep onset latency,night midsleep time,night wake time,night sleep duration,night time in bed,24 h sleep duration,bedtime phase difference,sleep onset phase difference,midsleep phase difference,wake time phase difference
0,1,female,33.7,19.24,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.45,20.68,0.23,1.92,7.17,629.4,643.0,629.4,-1.21,-1.44,6.68,11.93
1,2,female,31.5,18.27,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.23,19.48,0.25,1.09,6.69,672.4,700.4,672.4,-0.96,-1.21,6.82,12.42
2,3,male,31.9,19.14,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.60,20.05,0.45,1.29,6.53,628.8,682.6,628.8,-0.46,-0.91,6.15,11.39
3,4,female,31.6,19.69,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.46,19.50,0.05,1.89,8.28,766.6,784.0,766.6,0.23,0.19,6.20,12.59
4,5,female,33.0,19.52,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.21,19.65,0.45,1.30,6.95,678.0,718.0,678.0,0.31,-0.13,5.78,11.43

In [22]:
df.describe()

,id,age (months),dlmo time,days napped,napping,nap lights outl time,nap sleep onset,nap midsleep,nap sleep offset,nap wake time,nap duration,nap time in bed,night bedtime,night sleep onset,sleep onset latency,night midsleep time,night wake time,night sleep duration,night time in bed,24 h sleep duration,bedtime phase difference,sleep onset phase difference,midsleep phase difference,wake time phase difference
count,20.00000,20.000000,20.000000,20.000000,20.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,20.000000,20.00000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.00000
mean,10.50000,34.185000,19.637500,2.700000,0.750000,13.508000,13.862667,14.716667,15.572000,15.648000,102.593333,128.404667,20.125500,20.60900,0.483000,1.804500,7.000500,623.464000,669.086500,700.409000,-0.483500,-0.973500,6.169500,11.36300
std,5.91608,2.029331,0.703419,1.894591,0.444262,0.763556,0.745735,0.773154,0.831773,0.660186,20.052957,23.807165,0.642089,0.78564,0.275052,0.502944,0.543889,54.908707,46.340104,45.592934,0.578994,0.588408,0.463641,0.71446
min,1.00000,30.000000,18.220000,0.000000,0.000000,12.470000,12.560000,13.300000,14.050000,14.250000,73.000000,80.000000,19.210000,19.48000,0.050000,1.090000,6.010000,526.800000,582.400000,628.800000,-1.730000,-2.030000,5.070000,9.85000
25%,5.75000,32.975000,19.270000,0.750000,0.750000,12.900000,13.425000,14.305000,15.090000,15.265000,92.500000,118.400000,19.575000,20.00750,0.280000,1.330000,6.650000,599.962500,651.100000,662.237500,-0.882500,-1.267500,5.920000,11.06000
50%,10.50000,33.750000,19.685000,3.000000,1.000000,13.180000,13.870000,14.490000,15.460000,15.780000,100.750000,130.670000,20.200000,20.74000,0.450000,1.905000,7.060000,618.600000,662.100000,706.065000,-0.425000,-0.995000,6.155000,11.41000
75%,15.25000,36.225000,19.995000,4.000000,1.000000,13.995000,14.450000,15.360000,16.050000,16.150000,108.710000,138.165000,20.435000,20.97750,0.645000,2.137500,7.217500,651.150000,696.200000,724.100000,-0.040000,-0.827500,6.347500,11.94500
max,20.00000,37.100000,21.060000,5.000000,1.000000,14.750000,15.030000,15.920000,17.010000,16.600000,155.500000,163.800000,22.010000,22.53000,1.190000,2.920000,8.280000,766.600000,784.000000,782.300000,0.330000,0.190000,7.050000,12.59000

**Question**: What value is used in the column 'napping' to indicate a toddler takes a nap? (see reference article) 

**Answer**: 1 for toddler who naps and 0 for toddler who does not.

**Questions**: What is the overall sample size $n$? What are the sample sizes of napping and non-napping toddlers?

In [23]:
nap = df.loc[df['napping'] == 1].shape[0]
no_nap = df.loc[df['napping'] == 0].shape[0]

print('Sample size of napping toddlers:')
print(nap)
print('\n')

print('Sample size of non-napping toddlers:')
print(no_nap)

Sample size of napping toddlers:
15


Sample size of non-napping toddlers:
5

## Hypothesis tests
We will look at two hypothesis test, each with $\alpha = .05$:  


1. Is the average bedtime for toddlers who nap later than the average bedtime for toddlers who don't nap?


$$H_0: \mu_{nap}=\mu_{no\ nap}, \ H_a:\mu_{nap}>\mu_{no\ nap}$$
Or equivalently:
$$H_0: \mu_{nap}-\mu_{no\ nap}=0, \ H_a:\mu_{nap}-\mu_{no\ nap}>0$$


2. The average 24 h sleep duration (in minutes) for napping toddlers is different from toddlers who don't nap.


$$H_0: \mu_{nap}=\mu_{no\ nap}, \ H_a:\mu_{nap}\neq\mu_{no\ nap}$$
Or equivalently:
$$H_0: \mu_{nap}-\mu_{no\ nap}=0, \ H_a:\mu_{nap}-\mu_{no\ nap} \neq 0$$

First isolate `night bedtime` into two variables - one for toddlers who nap and one for toddlers who do not nap.

In [24]:
nap_bedtime = df.loc[(df['napping'] == 1), 'night bedtime']

In [25]:
no_nap_bedtime = df.loc[(df['napping'] == 0), 'night bedtime']

Now find the sample mean bedtime for nap and no_nap.

In [26]:
nap_mean_bedtime = nap_bedtime.mean()

In [51]:
no_nap_mean_bedtime = no_nap_bedtime.mean()

**Question**: What is the sample difference of mean bedtime for nappers minus no nappers?

In [53]:
mean_bedtime_diff = nap_mean_bedtime - no_nap_mean_bedtime
mean_bedtime_diff

0.7139999999999951

Now find the sample standard deviation for $X_{nap}$ and $X_{no\ nap}$.

In [29]:
# The np.std function can be used to find the standard deviation. The
# ddof parameter must be set to 1 to get the sample standard deviation.
# If it is not, you will be using the population standard deviation which
# is not the correct estimator
nap_s_bedtime = nap_bedtime.std()

In [30]:
no_nap_s_bedtime = no_nap_bedtime.std()

**Question**: What is the s.e.$(\bar{X}_{nap} - \bar{X}_{no\ nap})$?

We expect the variance in sleep time for toddlers who nap and toddlers who don't nap to be the same. So we use a pooled standard error.

Calculate the pooled standard error of $\bar{X}_{nap} - \bar{X}_{no\ nap}$ using the formula below.

$s.e.(\bar{X}_{nap} - \bar{X}_{no\ nap}) = \sqrt{\frac{(n_1-1)s_1^2 + (n_2-1)s_2^2}{n_1+n_2-2}(\frac{1}{n_1}+\frac{1}{n_2})}$

In [32]:
pooled_se = np.sqrt(((((len(nap_bedtime)-1)*(nap_s_bedtime**2))+((len(no_nap_bedtime)-1)*(no_nap_s_bedtime**2)))/((len(nap_bedtime)+len(no_nap_bedtime))-2))*((1/len(nap_bedtime))+(1/len(no_nap_bedtime))))

**Question**: Given our sample size of $n$, how many degrees of freedom ($df$) are there for the associated $t$ distribution?

Now calculate the $t$-test statistic for our first hypothesis test using  
* pooled s.e.($\bar{X}_{nap} - \bar{X}_{no\ nap}$)  
* $\bar{X}_{nap} - \bar{X}_{no\ nap}$  
* $\mu_{0,\ nap} - \mu_{0,\ no\ nap}=0$, the population difference in means under the null hypothesis

In [54]:
tstat = (nap_mean_bedtime-no_nap_mean_bedtime)/pooled_se
tstat

2.4106381824626966

**Question**: What is the p-value for the first hypothesis test?

For a discussion of probability density functions (PDF) and cumulative distribution functions (CDF) see:

https://integratedmlai.com/normal-distribution-an-introductory-guide-to-pdf-and-cdf/

To find the p-value, we can use the CDF for the t-distribution:
```
t.cdf(tstat, df)
```
Which for $X \sim t(df)$ returns $P(X \leq tstat)$.

Because of the symmetry of the $t$ distribution, we have that 
```
1 - t.cdf(tstat, df)
```
returns $P(X > tstat)$

The function `t.cdf(tstat, df)` will give you the same value as finding the one-tailed probability of `tstat` on a t-table with the specified degrees of freedom.

Use the function `t.cdf(tstat, df)` to find the p-value for the first hypothesis test.

In [36]:
pvalue = 1 - t.cdf(tstat, 18)
pvalue

0.013417041438843036

**Question**: What are the t-statistic and p-value for the second hypothesis test?

Calculate the $t$ test statistics and corresponding p-value using the `scipy` function `scipy.stats.ttest_ind(a, b, equal_var=True)` and check with your answer. 

**Answer**: statistic=1.4811248223284985, pvalue=0.1558664953018476

**Question**: Does `scipy.stats.ttest_ind` return values for a one-sided or two-sided test?

**Answer**: Default option is for a two tailed test.

**Question**: Can you think of a way to recover the results you got using `1-t.cdf` from the p-value given by `scipy.stats.ttest_ind`?

**Answer**: Add 1.

Use the `scipy` function `scipy.stats.ttest_ind(a, b, equal_var=True)` to find the $t$ test statistic and corresponding p-value for the second hypothesis test.

In [43]:
nap_24_hour = df.loc[(df['napping'] == 1), '24 h sleep duration']

In [48]:
no_nap_24_hour = df.loc[(df['napping'] != 1), '24 h sleep duration']

In [50]:
from scipy import stats
answers = stats.ttest_ind(nap_24_hour, no_nap_24_hour, equal_var=True)
answers

Ttest_indResult(statistic=1.4811248223284985, pvalue=0.1558664953018476)

**Question**: For the $\alpha=.05$, do you reject or fail to reject the first hypothesis?

**Answer**: Reject.

**Question**: For the $\alpha=.05$, do you reject or fail to reject the second hypothesis?

**Answer**: Accept.